@import "./variables.scss";

.home {
    background-color: $background;
    padding: 0 5%;
    height: 170vh;

    h1 {
        padding-top: 20px;
    }

    .currency {
        @include flex($justify: "space-evenly");

        .pound,
        .dollar,
        .euro,
        .yen,
        .selected_currency {
            width: 21.25%;
            height: 40px;
            margin: 0;
            padding: 1% 0;
        }

        .dollar {
            margin: 0 2% 0 5%;
        }

        .euro {
            margin: 0 5% 0 3%;
        }
    }

    .selected_currency {
        border: 3px solid $secondary;
        color: #000;
    }

    .input_field_name {
        margin: 20px 0;
        width: 100%;
    }

    .input_field {
        margin: 10px auto;
        width: 100%;
    }

    .alert {
        font-size: 2rem;
        color: $primary;
        text-align: center;
    }
}
