@import "./variables.scss";

.home {
    background-color: $background;
    padding: 0 5% 5%;

    h1 {
        padding-top: 20px;
    }

    .main_body {
        .currency {
            @include flex($justify: "space-evenly");

            .pound,
            .dollar,
            .euro,
            .yen,
            .selected_currency {
                width: 21.25%;
                height: 40px;
                margin: 0;
                padding: 1% 0;
            }

            .dollar {
                margin: 0 2% 0 5%;
            }

            .euro {
                margin: 0 5% 0 3%;
            }
        }

        .selected_currency {
            border: 3px solid $secondary;
            color: #000;
        }

        .input_field_name {
            margin: 20px 0;
            width: 100%;
        }

        .input_field {
            margin: 10px auto;
            width: 100%;
        }

        .logo {
            display: none;
        }
    }

    @media (min-width: $medium-screen) {
        .main_body {
            @include flex($justify: space-between, $align: start);
            .first_section {
                width: 55%;
            }

            .income_outgoing {
                width: 35%;
                background-color: rgb(168, 216, 198);
                padding: 15px;
                border-radius: 8px;
                color: $text;

            }

            .logo {
                display: flex;
                width: 80%;
                margin: 50px auto;
                border-radius: 20px;
                max-width: 500px;
            }
        }
    }
}
