@import './variables.scss';

.login,
.register {
    @include flex($direction: column);

    .input_field {
        margin: 10px 0;
        width: 80%;
    }

    button {
        margin-top: 30px;
        width: 80%;
    }

    span {
        color: $text;
        text-decoration: underline;
    }
}