@import "./variables.scss";
nav {
    @include flex($justify: space-between);
    img {
        width: 40%;
        max-width: 200px;
        cursor: pointer;
    }

    .menu {
        @include flex;
        margin: 0 1%;

        .menu_icon {
            margin: 0 20px;
            font-family: "Quicksand", sans-serif;
            cursor: pointer;
        }
    }
}
